<div data-ng-controller="precoCtrl">
    </div>
    <div class="content-module p-3">
        <h1>Preço Page</h1>
        <table class="table table-dark p-5">
                <thead>
                  <tr>
                    <th scope="col">Planos</th>
                    <th scope="col">Basico</th>
                    <th scope="col">Intermediário</th>
                    <th scope="col">Pro</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Batata</th>
                    <td>R$ 12,00</td>
                    <td>R$ 22,00</td>
                    <td>R$ 35,00</td>
                  </tr>
                  <tr>
                    <th scope="row">Sorvete</th>
                    <td>R$ 8,00</td>
                    <td>R$ 40,00</td>
                    <td>R$ 80,00</td>
                  </tr>
                  <tr>
                    <th scope="row">Pudim</th>
                    <td>R$ 2,50</td>
                    <td>R$ 60,00</td>
                    <td>R$ 500,00</td>
                  </tr>
                </tbody>
              </table>
    </div>
</div>