.top{
    height: 500px;
    width: 100%;
    background-image: url('https://i1.wp.com/cedem.com.br/2017/wp-content/uploads/2019/06/Background-site-04.jpg?ssl=1');
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 4px black;
}

.content-module{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: #343a40!important;
}